In [2]:
print('Hola')

Hola

In [3]:
nombre = 'My name'
print(nombre)

My name

In [4]:
nombre

'My name'

In [5]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cat  %cd  %clear  %colors  %conda  %config  %connect_info  %cp  %debug  %dhist  %dirs  %doctest_mode  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %lf  %lk  %ll  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %lx  %macro  %magic  %man  %matplotlib  %mkdir  %more  %mv  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %rep  %rerun  %reset  %reset_selective  %rm  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [6]:
%pwd

'/home/jovyan'

In [7]:
%ls

 00_00_binder.ipynb                     03_00_pivot_table.ipynb
 00_00_primer_pasos.ipynb               03_01_lambda_pivot_table.ipynb
 01_01_data_types.ipynb                'Clase 1 Los BÃ¡sicos.ipynb'
 01_02_read_iloc_unique_groupby.ipynb   datasets/
 01_03_data_wrangling.ipynb             README.md
 02_00_lectura-de-datos.ipynb          'requirements copy.txt'
 02_01_null_display.ipynb               requirements.txt
 02_02_basic_math.ipynb

In [8]:
import numpy as np
n = 50
numeros_random = np.random.rand(n)
numeros_random

array([0.9165746 , 0.65666343, 0.93304295, 0.24717595, 0.29618454,
       0.43900392, 0.78620698, 0.02904749, 0.83006549, 0.48266184,
       0.5554068 , 0.95172113, 0.4438786 , 0.27620346, 0.2512957 ,
       0.56102077, 0.40473366, 0.72902645, 0.21148226, 0.43020129,
       0.44947729, 0.2301339 , 0.36490605, 0.40522725, 0.30879235,
       0.65393146, 0.39655834, 0.68281562, 0.22939249, 0.10001492,
       0.3810492 , 0.20849961, 0.00589251, 0.12341844, 0.59706556,
       0.80817521, 0.53554401, 0.96410087, 0.61754424, 0.12743861,
       0.93300982, 0.38002603, 0.41198234, 0.9759822 , 0.42681418,
       0.89403952, 0.45576057, 0.38498247, 0.95935827, 0.48449489])

In [1]:
import math

type(4)

int

In [2]:
type(4.2)

float

In [3]:
type('my name')

str

In [4]:
type(True)

bool

In [5]:
type(False)

bool

In [6]:
type(3/5)

float

In [7]:
type(None)

NoneType

In [8]:
an_array = [1, 2, 3, 4, 10]
an_array

[1, 2, 3, 4, 10]

In [9]:
print(an_array)

[1, 2, 3, 4, 10]

In [18]:
suma = sum(an_array)

In [25]:
an_array = suma/len(an_array)

In [21]:
an_array

[1, 2, 3, 4, 10]

In [22]:
len(an_array)

5

In [24]:
6*10**2

600

In [26]:
6*10**(-1)

0.6000000000000001

In [27]:
math.pi

3.141592653589793

In [28]:
type(math.pi)

float

In [29]:
type('math.pi')

str

In [31]:
otra_array = [2, math.pi, 3/5, 'a_str']
otra_array

[2, 3.141592653589793, 0.6, 'a_str']

In [36]:
x = 6
y = 8

if  x<y :
    print('{} es menor que {}'.format(x, y))
else:
        print('{} es menor que {}'.format(y, x))

6 es menor que 8

In [37]:
my_list = [True, 6<5, 1==3, None is None]
my_list

[True, False, False, True]

In [39]:
for i in my_list:
    print('{} \t {}'.format(i, type(i)))

True 	 <class 'bool'>
False 	 <class 'bool'>
False 	 <class 'bool'>
True 	 <class 'bool'>

In [40]:
for i in my_list:
    print(i,'\t y su typo es', type(i))

True 	 <class 'bool'>
False 	 <class 'bool'>
False 	 <class 'bool'>
True 	 <class 'bool'>

In [41]:
x = None
type(x)

NoneType

In [42]:
none_list = [None]*5
none_list

[None, None, None, None, None]

In [43]:
len(none_list)

5

In [46]:
una_lista = ['pos_0','first', 'second', 'third', 'fourth', 'fifth']
una_lista

['pos_0', 'first', 'second', 'third', 'fourth', 'fifth']

In [79]:
una_lista.sort()
una_lista

['fifth', 'first', 'fourth', 'pos_0', 'second', 'third']

In [47]:
len(una_lista)

6

In [48]:
una_lista[3]

'third'

In [50]:
una_lista[0:4]

['pos_0', 'first', 'second', 'third']

In [51]:
una_lista[:4]

['pos_0', 'first', 'second', 'third']

In [52]:
una_lista[1:4]

['first', 'second', 'third']

In [53]:
una_lista

['pos_0', 'first', 'second', 'third', 'fourth', 'fifth']

In [54]:
una_lista[5]

'fifth'

In [55]:
una_lista[-1]

'fifth'

In [59]:
una_lista[-2:0]

[]

In [60]:
una_lista[-2:]

['fourth', 'fifth']

In [61]:
una_lista[:]

['pos_0', 'first', 'second', 'third', 'fourth', 'fifth']

In [72]:
import numpy as np
num_array = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]) 
num_array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [73]:
type(num_array)

numpy.ndarray

In [74]:
np.mean(num_array)

5.0

In [75]:
np.dot(3,4)

12

In [76]:
np.dot([2j, 3j], [2j, 3j])

(-13+0j)

In [71]:
%ls

 00_00_binder.ipynb                     03_00_pivot_table.ipynb
 00_00_primer_pasos.ipynb               03_01_lambda_pivot_table.ipynb
 01_01_data_types.ipynb                'Clase 1 Los BÃ¡sicos.ipynb'
 01_02_read_iloc_unique_groupby.ipynb   datasets/
 01_03_data_wrangling.ipynb             README.md
 02_00_lectura-de-datos.ipynb          'requirements copy.txt'
 02_01_null_display.ipynb               requirements.txt
 02_02_basic_math.ipynb

In [69]:
import pandas as pd
data_set = 'datasets/Cartwheeldata.csv'
df = pd.read_csv(data_set)

In [70]:
df

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.00,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.00,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.00,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.00,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.00,75.0,72,N,0,4
5,6,24,M,2,N,0,75.00,71.0,81,N,0,3
6,7,28,M,2,N,0,75.00,76.0,107,Y,1,10
7,8,22,F,1,N,0,65.00,62.0,98,Y,1,9
8,9,29,M,2,Y,1,74.00,73.0,106,N,0,5
9,10,33,F,1,Y,1,63.00,60.0,65,Y,1,8
10,11,30,M,2,Y,1,69.50,66.0,96,Y,1,6
11,12,28,F,1,Y,1,62.75,58.0,79,Y,1,10
12,13,25,F,1,Y,1,65.00,64.5,92,Y,1,6
13,14,23,F,1,N,0,61.50,57.5,66,Y,1,4
14,15,31,M,2,Y,1,73.00,74.0,72,Y,1,9
15,16,26,M,2,Y,1,71.00,72.0,115,Y,1,6
16,17,26,F,1,N,0,61.50,59.5,90,N,0,10
17,18,27,M,2,N,0,66.00,66.0,74,Y,1,5
18,19,23,M,2,Y,1,70.00,69.0,64,Y,1,3
19,20,24,F,1,Y,1,68.00,66.0,85,Y,1,8
20,21,23,M,2,Y,1,69.00,67.0,66,N,0,2
21,22,29,M,2,N,0,71.00,70.0,101,Y,1,8
22,23,25,M,2,N,0,70.00,68.0,82,Y,1,4
23,24,26,M,2,N,0,69.00,71.0,63,Y,1,5
24,25,23,F,1,Y,1,65.00,63.0,67,N,0,3

In [78]:
df.head(13)

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.00,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.00,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.00,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.00,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.00,75.0,72,N,0,4
5,6,24,M,2,N,0,75.00,71.0,81,N,0,3
6,7,28,M,2,N,0,75.00,76.0,107,Y,1,10
7,8,22,F,1,N,0,65.00,62.0,98,Y,1,9
8,9,29,M,2,Y,1,74.00,73.0,106,N,0,5
9,10,33,F,1,Y,1,63.00,60.0,65,Y,1,8
10,11,30,M,2,Y,1,69.50,66.0,96,Y,1,6
11,12,28,F,1,Y,1,62.75,58.0,79,Y,1,10
12,13,25,F,1,Y,1,65.00,64.5,92,Y,1,6

In [77]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [80]:
type(df.columns)

pandas.core.indexes.base.Index

In [84]:
index_list = list(df.columns)
index_list.sort()
index_list

['Age',
 'CWDistance',
 'Complete',
 'CompleteGroup',
 'Gender',
 'GenderGroup',
 'Glasses',
 'GlassesGroup',
 'Height',
 'ID',
 'Score',
 'Wingspan']

In [92]:
x = df[['Height']]
print(x)
print(type(x))

    Height
0    62.00
1    62.00
2    66.00
3    64.00
4    73.00
5    75.00
6    75.00
7    65.00
8    74.00
9    63.00
10   69.50
11   62.75
12   65.00
13   61.50
14   73.00
15   71.00
16   61.50
17   66.00
18   70.00
19   68.00
20   69.00
21   71.00
22   70.00
23   69.00
24   65.00
<class 'pandas.core.frame.DataFrame'>

In [90]:
y = df[['Height']]
print(y)
print(type(y))

    Height
0    62.00
1    62.00
2    66.00
3    64.00
4    73.00
5    75.00
6    75.00
7    65.00
8    74.00
9    63.00
10   69.50
11   62.75
12   65.00
13   61.50
14   73.00
15   71.00
16   61.50
17   66.00
18   70.00
19   68.00
20   69.00
21   71.00
22   70.00
23   69.00
24   65.00
<class 'pandas.core.frame.DataFrame'>

In [89]:
for i in df.columns:
    print(i)

ID
Age
Gender
GenderGroup
Glasses
GlassesGroup
Height
Wingspan
CWDistance
Complete
CompleteGroup
Score

In [93]:
print(type(x))
print(type(y))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [94]:
df[['Height', 'Gender']]

    Height Gender
0    62.00      F
1    62.00      F
2    66.00      F
3    64.00      F
4    73.00      M
5    75.00      M
6    75.00      M
7    65.00      F
8    74.00      M
9    63.00      F
10   69.50      M
11   62.75      F
12   65.00      F
13   61.50      F
14   73.00      M
15   71.00      M
16   61.50      F
17   66.00      M
18   70.00      M
19   68.00      F
20   69.00      M
21   71.00      M
22   70.00      M
23   69.00      M
24   65.00      F

In [95]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [99]:
df.loc[1:4]

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
1,2,26,F,1,Y,1,62.0,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.0,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.0,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.0,75.0,72,N,0,4

In [100]:
df.loc[:3, 'GenderGroup':]

,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,Y,1,62.0,61.0,79,Y,1,7
1,1,Y,1,62.0,60.0,70,Y,1,8
2,1,Y,1,66.0,64.0,85,Y,1,7
3,1,N,0,64.0,63.0,87,Y,1,10

In [101]:
df.iloc[:3, 1:4]

   Age Gender  GenderGroup
0   56      F            1
1   26      F            1
2   33      F            1

In [106]:
df.loc[:3, 'Height':'Complete']

   Height  Wingspan  CWDistance Complete
0    62.0      61.0          79        Y
1    62.0      60.0          70        Y
2    66.0      64.0          85        Y
3    64.0      63.0          87        Y

In [107]:
df.Gender.unique()

array(['F', 'M'], dtype=object)

In [108]:
df.Height.unique()

array([62.  , 66.  , 64.  , 73.  , 75.  , 65.  , 74.  , 63.  , 69.5 ,
       62.75, 61.5 , 71.  , 70.  , 68.  , 69.  ])

In [112]:
df.groupby(['Gender', 'GenderGroup']).size()

Gender  GenderGroup
F       1              12
M       2              13
dtype: int64

In [113]:
df.groupby(['Height', 'GenderGroup']).size()

Height  GenderGroup
61.50   1              2
62.00   1              2
62.75   1              1
63.00   1              1
64.00   1              1
65.00   1              3
66.00   1              1
        2              1
68.00   1              1
69.00   2              2
69.50   2              1
70.00   2              2
71.00   2              2
73.00   2              2
74.00   2              1
75.00   2              2
dtype: int64